# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions

name: Test Greb

on:
  push:
    branches: [
      main
    ]
  pull_request:
    branches: [
      main
    ]
  workflow_dispatch:  # Allows running this workflow manually from Actions tab


jobs:
  test-greb:


    # Define release and debug builds on the main desktop platforms.
    #
    # (Rather than use the automatic-matrix'ing, we go ahead and list them
    # manually, because that makes it easier to tweak specifics if desired.)
    #
    strategy:
      matrix:
        include:  # put in order of visibility importance (shown in UI)

        - os: macos-latest
          checked: false

        - os: windows-latest
          checked: false

        - os: ubuntu-latest
          checked: false

        - os: macos-latest
          checked: true

        - os: windows-latest
          checked: true

        - os: ubuntu-latest
          checked: true


    # https://github.com/actions/virtual-environments#available-environments
    #
    runs-on: ${{ matrix.os }}


    steps:


  #====# CHECKOUT STEPS #=====================================================#

    # https://github.com/metaeducation/git-disable-autocrlf-action/
    #
    - name: Disable LF to CRLF Auto Translation In Git
      uses: metaeducation/git-disable-autocrlf-action@v1


    # https://github.com/actions/checkout
    #
    - uses: actions/checkout@v3


  #====# INSTALL R3 INTERPRETER #=============================================#

    - name: Download and Cache the Interpreter
      uses: metaeducation/ren-c-action@release
      with:
        checked: ${{ matrix.checked }}


  #====# SIMPLE FILTER OF FILE LIST #=========================================#

    - name: (UNIX) Simple Filter of File List
      if: matrix.os != 'windows-latest'
      run: |
        cat tests/files.txt | r3 greb.r "thru any ['.reb '.r]" > rfiles.txt
        cat rfiles.txt
        r3 tests/filecompare.r rfiles.txt tests/rfiles.out

    - name: (CMD.EXE) Simple Filter of File List
      if: matrix.os == 'windows-latest'
      shell: cmd
      run: |
        type tests\files.txt | r3 greb.r "thru any ['.reb '.r]" > rfiles.txt
        type rfiles.txt
        r3 tests\filecompare.r rfiles.txt tests\rfiles.out

    - name: (Powershell) Simple Filter of File List
      if: matrix.os == 'windows-latest'
      shell: pwsh
      run: |
        type tests/\files.txt | r3 greb.r "thru any ['.reb '.r]" > rfiles.txt
        Get-Content rfiles.txt
        r3 tests\filecompare.r rfiles.txt tests\rfiles.out
